
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-family: arial, sans-serif;
	background-color: white;
}

.capa {
	display: flex;
	justify-content: center;
	background-color: black;
}

.capa img {
	width: 50%;
	height: auto;
}

b {
	font-size: 1.25em;
}

p {
	margin-bottom: 0;
}

.tabelaDuasLinhas {
	column-span: 2;
}

table {
	margin: 0 auto;
	border-spacing: 0;
}

table a {
	color: #000020;
	text-decoration: none;
}

table a:hover {
	color: #006060;
	text-decoration: underline;
}

td {
	border: 1px solid #000000;
}

th {
	border: 1px solid black;
}

thead {
	background-color: #b8ee99;
}

.autor {
	margin-left: 10px;
	color: #000000d0;
}

.introducao {
	margin: 0 auto;
	width: 70%;
	margin-bottom: 10vh;
}

.introducao p {
	text-align: justify;
}

.transicaoIndNeg {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3137254901960784), rgba(224, 224, 224, 0.3137254901960784));
}

.transicaoNegIra {
	background: linear-gradient(to bottom, rgba(224, 224, 224,  0.3137254901960784), rgba(255, 221, 204,  0.3137254901960784));
}

.transicaoIraBar {
	background: linear-gradient(to bottom, rgba(255, 221, 204,  0.3137254901960784), rgba(235, 255, 204,  0.3137254901960784));
}

.transicaoBarDep {
	background: linear-gradient(to bottom, rgba(235, 255, 204,  0.3137254901960784), rgba(204, 204, 255,  0.3137254901960784));
}

.transicaoDepAce {
	background: linear-gradient(to bottom, rgba(204, 204, 255,  0.3137254901960784), rgba(254, 255, 179,  0.3137254901960784));
}

.transicao {
	height: 10vh;
}

.transicaoCapaNav {
	height: 30vh;
	background: linear-gradient(to bottom, #000000, #3c3c3c);
}

#negacao {
	background-color: #e0e0e050;
}

#ira {
	background-color: #ffddcc50;
}

#barganha {
	background-color: #EBFFCC50;
}

#depressao {
	background-color: #ccccff50;
}

#aceitacao {
	background-color: #FEFFB350;
	padding-bottom: 8vh;
}

#idNegacao {
	position: relative;
	bottom: 30vh;
}

#idIra {
	position: relative;
	bottom: 30vh;
}

#idBarganha {
	position: relative;
	bottom: 30vh;
}

#idDepressao {
	position: relative;
	bottom: 30vh;
}

#idAceitacao {
	position: relative;
	bottom: 30vh;
}

.ancoraId {
	position: relative;
	bottom: 30vh;
}

.indice {
	padding-top: 5vh;
}

ul {
	margin: 0;
	list-style-image: url(imagens/icone.ico);
}

nav {
	background-color: #3c3c3c;
	position: sticky;
	height: 25vh;
	width: calc(100% - 10px);
	top: 0;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 5px;
}

nav a:visited,
nav a:focus,
nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #d0d0d0;
	text-decoration: underline;
}

.titulo {
	text-align: center;
	font-size: 4vw;
}

.tTitulo {
	font-size: clamp(40px, 1em, 64px);
}

.sTitulo {
	font-size: clamp(30px, 0.75em, 48px);
}

.teleportes {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
	justify-content: space-evenly;
	align-items: center;
}

.teleportes div {
	display: flex;
	justify-content: space-evenly;
}

div {
	margin: 0;
	padding: 0;
}

.estacao {
	margin: 0;
	text-shadow: 2px 2px #0000006f;
}

h4 {
	margin: 0.625em 0;
	transition: transform 0.5s;
}

h4:hover {
	transform: scale(1.2, 1.2);
}

.headerDoHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	align-self: center;
}

.voltar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background-color: white;
	justify-self: right;
	border-radius: 50px;
	box-shadow: 5px 5px 5px #00000050;
	transition: transform 0.3s;
	cursor: pointer;
}

.voltar:hover {
	background-color: #cccccc;
	transform: scale(1.15);
}

#easterEgg {
	color: #070707;
}

#easterEgg:hover {
	cursor: default;
}

footer {
	background: #070707;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: end;
	color: white;
	justify-content: space-evenly;
	padding: 5vh 0;
	border-top: 1px solid black;
}

.rodape {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-evenly;
}

.divsRodape {
	padding: 0 10px;
}

.divsRodape a:visited,
.divsRodape a {
	color: #ffffff;
	text-decoration: none;
}

.divsRodape a:hover {
	text-decoration: underline;
}

.divNavBemExpecifica {
	width: 100%;
}

.outraDviNavExpecifica {
	width: 100%;
}

.umaDivNaoExpecifica {
	width: 100%;
}

@media (min-width: 780px) {

	nav {
		height: 15vh;
		align-items: flex-start;
		padding: 20px;
		width: calc(100% - 40px);
	}

	.teleportes {
		flex-direction: row;
		justify-content: space-evenly;
		width: 80%;
	}

	.indice {
		padding-top: 10vh;
	}

	.divNavBemExpecifica {
		width: 60%;
	}

	.teleportes div {
		justify-content: space-between;
		padding: 0 15px;
	}

	.transicao {
		height: 30vh;
	}
}

@media (min-width: 1024px) {

	.teleportes {
		width: 70%;
	}

	.teleportes div {
		padding: 0 20px;
	}

	.umaDivNaoExpecifica {
		width: 100px;
	}
}

@media (min-width: 1200px) {
	.teleportes {
		width: 50%;
	}
}

@media (min-width: 1630px) {
	.teleportes {
		width: 35%;
	}
}

@media print {
	body {
		background-color: white;
		color: #000000;
	}

	.transicao {
		height: 10vh;
	}

	img {
		display: none;
	}

	.transicaoCapaNav {
		display: none;
	}

	nav {
		display: none;
	}

	#negacao {
		padding-top: 5vh;
	}

	footer {
		color: #000000;
	}

	.contato {
		display: none;
	}

	.voltar {
		display: none;
	}
}

.conteudoCadastro {
	min-height: 90vh;
	padding-top: 30vh;
	width: 100%;
	background-color: #eeeeee;
}

.formulario {
	margin: 0 auto;
	width: 70%;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #00000050;
	background-color: #ffffff;
	padding: 30px;
}

input {
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
}

input:focus {
	border-color: #cccccc;
	outline: none;
}

.botao {
	background-color: #3060ff;
	border: none;
	border-radius: 7px;
	height: 30px;
	width: 90px;
	text-align: center;
	color: white;
	font-size: 16px;
	margin-right: 30px;
}

.botao:hover {
	background-color: #0030cf;
	cursor: pointer;
}

.alinharCentro {
	text-align: right;
}